tensorflow
pandas
numpy
dvc  #tracking tool
matplotlib
seaborn
scikit-learn
notebook
python-box== 7.1.1  #for handling exception 
pyYAML  #to read yaml file
tqdm #to see progress
ensure==1.0.4 
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .  # it will install packages locally and no need to install it every time
